{%- assign _book = page -%}

<article class="quote">
  <header class="quote__header">
    <h2><a href="{{ _book.url | relative_url }}">#</a></h2>
    <small class="quote__info">{{ _book.title }}{% if _book.author %} - {{ _book.author }}{% endif %}{% if _book.edition %} ({{ _book.edition }}){% endif %}</small>
    {%- if _book.src -%}&nbsp;<a href="{{ _book.src }}" rel="nofollow" target="_blank">Source</a>{%- endif -%}
    </header>
  <div class="quote__content">
    {{ _book.content }}
  </div>
</article>
