---
title: Other quotes
index: true
---

<h1><a href="{{ '/others' | relative_url }}">Other quotes</a></h1>

{%- assign last_id   = "" -%}
{%- assign last_book = "" -%}
{%- assign quotes    = 1 -%}

<div class="table sortable">
  <div class="table__thead">
    <div class="table__tr table__tr_2">
      <div class="table__th sortable__col">Title</div>
      <div class="table__th sortable__col numeric">Quotes</div>
    </div>
  </div>
  <div class="table__tbody">
{% for book in site.others %}{% unless book.index %}
  {%- if book.author -%}
    {%- assign id = book.author -%}
  {%- else -%}
    {%- assign id = book.title -%}
  {%- endif -%}

  {%- if id == last_id -%}
    {%- assign quotes = quotes | plus: 1 -%}
  {%- else -%}
    {%- if last_id != "" -%}
      <div class="table__tr table__tr_2">
        <div class="table__td">
          <a class="link" href="{{ last_book.url | split: '/' | pop | join: '/' | relative_url }}">
            {% if last_book.author %}{{ last_book.author }}
            {% else %}{{ last_book.title }}{% endif %}
          </a>
        </div>
        <div class="table__td">{{ quotes }}</div>
      </div>
    {%- endif -%}
    {%- assign last_id   = id -%}
    {%- assign last_book = book -%}
    {%- assign quotes    = 1 -%}
  {%- endif -%}
{% endunless %}{% endfor %}
{%- if last_id != "" -%}
  <div class="table__tr table__tr_2">
    <div class="table__td">
      <a class="link" href="{{ last_book.url | split: '/' | pop | join: '/' | relative_url }}">
        {% if last_book.author %}{{ last_book.author }}
        {% else %}{{ last_book.title }}{% endif %}
      </a>
    </div>
    <div class="table__td">{{ quotes }}</div>
  </div>
{%- endif -%}
  </div>
</div>
